body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.front-font-big{
    font-size: 4.5vw;
}
.front-font-mid{
    font-size: 3vw;
}
.front-font-small{
    font-size: 1.5vw;
}
.front-font-very_small{
    font-size: 0.7vw;
}
.front-font-bold{
    font-weight:bold;
}
.front-font-italic{
    font-style: italic;
}
.front-font-pl{
    display: flex;
    align-items:flex-end;
    justify-content: flex-end;
}
@media only screen and (max-width: 960px){
    .front-font-big{
      font-size: 7vw;
    }
    .front-font-mid{
        font-size: 4vw;
    }
    .front-font-small{
        font-size: 2vw;
    }
    .front-font-very_small{
        font-size: 1.5vw;
    }
  }