.modal-mess{
    width: 15vw;
    height: auto;
    max-height: 50vh;
    min-width:300px;
    position: absolute;
    bottom:0;
    right: 0;
    display: flex;
    flex-direction: column;
}
.modal__mess{
    border-radius: 5px;
    padding: 10px;
    margin: 0 20px 20px 20px;
}
.modal__mess_flex{
    display: flex;
}
.modal__mess_size{
    width: auto;
    height: auto;
    color:white;
}
.modal__mess_error{
    background-color:rgba(207, 15, 15, 0.8);
}
.modal__mess_succses{
    background-color:rgba(46, 182, 53,.8);
}
.modal__mess_warning{
    display: none;
    background-color:rgba(216, 172, 28, 0.8);
}
.modal__mess_icon{
    width: 50px;
    min-width:50px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.modal__mess:hover ~ .modal__mess_warning{
    display: flex;
}
.modal__icon-size{
    width: 25px;
}
@media only screen and (max-width: 960px){
    .modal-mess{
        min-width:225px;
    }
}