.face{
    width: 100%;
    height: 100%;
    position: absolute;
}
.front,
.back {
    display: flex;
    justify-content: center;
    align-items:center;
    backface-visibility: hidden;
    transition: 2s;
}
.front_first{
    background-image: url(./img/logoacademy.jpg);
    /* I like background with repeat, but from below commented code delete this function */
    /* background-repeat: no-repeat; */
    background-position-x: center;
    background-position-y: center;
    background-size: 40%;
}
.back {
    color:black;
    background:white;
}
.back-first{
    transform: rotateY(180deg);
}
.back-second{
    transform-origin: left top;
    transform: rotateY(180deg) rotateX(180deg);
}
.back-fourth{
    transform: rotateX(180deg);
}
.back-fifth{
    transform:translateX(101%);
}
.back-third{
    transform:translateX(101%) translateY(101%);
}
.back-sixth{
    transform: scale(0);
}
.back-seventh1{
    transform-origin: left top;
    transform: rotateY(180deg);
}
.back-seventh2{
    transform-origin: right top 50px;
    transform: rotateY(-180deg);
}
.back-seventh3{
    transform-origin: right bottom;
    transform: rotateZ(-91deg);
}
/* first animation */
#main-content__first:hover .front_first {
    transform: rotateY(180deg);
}

#main-content__first:hover .back {
    transform: rotateY(360deg);
}
/* second animation */
#main-content__second:hover .front{
    transform-origin: left top;
    transform: rotateX(-180deg) rotateY(-180deg);
}

#main-content__second:hover .back {
    transform: rotateY(0) rotateX(0);
}
/* fourth animation */
#main-content__fourth:hover .front{
    transform: rotateX(180deg);
}

#main-content__fourth:hover .back {
    transform: rotateX(360deg);
}
/* fifth animation */
#main-content__fifth:hover .front{
    transform: translateX(-100%);
}

#main-content__fifth:hover .back {
    transform: translateX(0);
}
/* third animation */
#main-content__third:hover .front{
    transform:translateX(-100%) translateY(100%);
}

#main-content__third:hover .back {
    transform:translateX(0%) translateY(0%);
}
/* sixth animation */
#main-content__sixth:hover .front{
    transition-duration: 1s;
    transform: rotateZ(720deg) scale(0);
}

#main-content__sixth:hover .back {
    transition-delay: .8s;
    transition-duration: 1s;
    transform: scale(1);
}
/* seventh1 animation */
#main-content__seventh1:hover .front{
    transform-origin: left top;
    transform: rotateY(180deg);
}

#main-content__seventh1:hover .back {
    transform: rotateY(360deg);
}
/* seventh2 animation */
#main-content__seventh2:hover .front{
    transform-origin: right top 50px;
    transform: rotateY(-180deg);
}

#main-content__seventh2:hover .back {
    transform: rotateY(0);
}
/* seventh3 animation */
#main-content__seventh3:hover .front{
    transform-origin: left top;
    transform: rotateZ(-90deg);
}

#main-content__seventh3:hover .back {
    transform: rotateY(0deg);
}
@keyframes navAnim {
    0% {
      top: -200px;
    }
  
    100% {
      top: 0px;
    }
  }
@keyframes bounce {
    0% {
      top: -10vh;
    }
  
    15% {
      top: 11vh;
    }
  
    30% {
      top: -3vh;
    }
  
    42% {
      top: 11vh;
    }
  
    54% {
      top: 4vh;
    }
  
    64% {
      top: 11vh;
    }
  
    74% {
      top: 8vh;
    }
  
    82% {
      top: 11vh;
    }
  
    88% {
      top: 9vh;
    }
  
    94% {
      top: 11vh
    }
  
    96% {
      top: 9.5vh;
    }
  
    100% {
      top: 11vh;
    }
  }