@import "./animation.css";
@import "./fonts.css";
@import "./modalMess.css";
*{
  margin: 0;
  padding: 0;
  list-style: none;
}
:root {
  --max-wdth: calc(100% - 20vw);
}

body {
  padding: 0;
  margin: 0;
  background-color: #F8F8FC;
}

.main-pad-mid, .nav-pad-mid {
  padding: 0 10vw 0 10vw;
}

.navigation {
  width: var(--max-wdth);
  background-color: white;
  height: 10vh;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: 1s navAnim;
  z-index: 999;
}

.navigation__logo {
  padding: 0;
  margin: 0;
  max-height: 3vw;
  min-height: 40px;
}

.navigation-form {
  width: 10vw;
  min-width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation-form__bell {
  padding: 0;
  margin: 0;
  width: 15%;
  min-width: 25px;
  fill: rgb(185, 185, 185);
  cursor:pointer;
}

.navigation-form__bell:hover {
  fill: gray;
}

.navigation-form__avatar {
  width: 3vw;
  height: 3vw;
  min-width: 40px;
  min-height: 40px;

  background-color: orange;

  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  font-size: 25px;
  font-weight: bold;
  color: white;
}

.navigation-form__avatar:hover {
  background-color: rgb(235, 166, 39);
}

#main-avatar {
  display: none;
}

#main-avatar:checked~.dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.dropdown {
  width: 10vw;
  min-width: 100px;
  height: 11vh;
  padding: 20px;
  top: -200px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, .1);
  position: absolute;
  background-color: white;
  right: 4vw;
  z-index: 999;
  display: none;
  list-style: none;
  animation: 2s bounce cubic-bezier(.76, .2, .25, 1.04) forwards;
  animation-delay: 0.5s;
}
.dropdown li {
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
}

.dropdown li:first-child {
  color: gray;
  padding-bottom: 4px;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.dropdown-el:hover{
  cursor: pointer;
  background:#F6F7FC;
}
.main {
  position: relative;
  width: var(--max-wdth);
  height: 100%;
  padding-top: 20vh;
  padding-bottom: 10vh;
  z-index: 0;
}

.main-content {
  background: white;
  width: 100%;
  min-height: calc(60vh - 5px);
  display: flex;
}

.main-content_left {
  min-width: 50%;
  display: grid;
  grid-template-rows: repeat(4 1fr);
  grid-template-columns: 50% 50%;
}

.main-content_right {
  min-width: 50%;
  display: grid;
  grid-template-rows: repeat(4 1fr);
  grid-template-columns: repeat(3 1fr);
}
@media only screen and (max-width: 960px){
  .main{
    padding-top: 15vh;
    padding-bottom: 5vh;
  }
  .main-content {
    flex-direction: column;
    min-height: calc(80vh - 4px);
  }
  .main-content_right {
    min-height: calc(40vh - 2px);
  }
  .main-content_left {
    min-height: calc(40vh - 2px);
  }
}

.layout-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  perspective: 1200px;
  z-index: 0;
  overflow: hidden;
}
.flex_spcaround{
  width: 70%;
  height: 100%;
  justify-content: space-around;
}
.color-white{
  color:white;
}
.main-content__button{
  width: 7vw;
  height: 5vh;
  color:white;
  border:none;
  border-radius:5px;
  cursor:pointer;
  background:dodgerblue;
}
.main-content__button:hover{
  background:rgb(24, 122, 219);
}
.main-content__contacts:hover{
  cursor: pointer;
  fill:#5b8cff;
}
#main-content__first {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}
#main-content__second {
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;
  background: gold;
}

#main-content__fourth {
  grid-column: 1 / span 1;
  grid-row: 3 / span 2;
  background: #20CB77;
}

#main-content__fifth {
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  background: #E90046;
}

#main-content__third {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
  background: #8C89BF;
}

#main-content__sixth {
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
  background: #6D0077;
}

#main-content__seventh {
  grid-column: 3 / span 1;
  grid-row: 3 / span 2;
  font-size: 2vw;  
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
}
.main-events{
  width: 100%;
  height: 100%;
  background: #4C82FF;
}
.main-blog{
  width: 100%;
  height: 100%;
  background: #331CA3;
}
.main-constacts{
  width: 100%;
  height: 60%;
  background: #1C1660;
}
.pad-mid_small{
  padding: 30px;
}
.pad-mid_1vw{
  width: 100%;
  height: 80%;
  padding: 1vw;
}
.overflow_hide{
  box-sizing: border-box;
  overflow:auto;
  overflow-wrap: break-word;
  word-break: break-word;
}